.login_main_div{
    margin: auto;
    margin-top: 30px;
    padding:50px;
    padding-bottom: 80px;
    
    width: 600px;
    border-radius: 10px;
    color: white;

    background-color: #023373;
    background-image: url('../../../public/BackgroundImages/main-background.jpg');
    background-size: cover;
}

.warn{
    color: red;
    margin-top: 20px;
}

label
{
    float:left
}

.button{
    float: right;
    margin-top: 20px;
    margin-bottom: 20px;
}

.drop-btn{
    background-color: #4895D9;
    border-color: #4895D9;
}

.drop-btn:hover{
    background-color: #035AA6;
    border-color: #035AA6;
}