.add-professor{
    margin: 30px 50px 30px 50px;
    padding: 50px;
    background-color: #0d6efd;
    background-image: linear-gradient(135deg, #0a2a57, #0d6efd);
    border-radius: 10px;
    color: white;
}

.add-professor h3{
    padding-bottom: 50px;
}

.add-professor .input-field
{
    display: flex;
    padding: 40px 100px 40px 200px;
    height: 50px;
    align-items: center;
    justify-content: center;
}

.add-professor .input-field label{
    width: 200px;
    text-align: start;
}

.add-professor .add-btn{
    margin-top: 50px;
}