.add-course{
    margin: 30px 50px 30px 50px;
    padding: 50px;
    background-color: ghostwhite;
    border-radius: 10px;

}

.add-course h3{
    padding-bottom: 50px;
}

.input-field
{
    display: flex;
    padding: 30px 100px 30px 100px;
    height: 50px;
    align-items: center;
    justify-content: center;
}

.input-field label{
    width: 500px;
    text-align: start;
}

.add-btn{
    margin-top: 50px;
}

.select-search{
    margin: auto;
    margin-top: 50px;
}