.header{
    display: flex;
    background-color: aquamarine;
    align-items: center;    
    padding-left: 20px;
    border-bottom: 9px solid rgba(0,0,0,0.15);
}

.header button{
    margin-left: auto;
    margin-right: 20px;
    margin: 12px;
}

.en
{
    min-height: calc(100vh - 80px);
    display: flex;
}

.navbar{
    background-color:floralwhite;
    display: flex;
    align-items:baseline;
    height: calc(100vh - 80px);
    justify-content: center;
    border-left: 9px solid rgba(0,0,0,0.2);
}

.content{
    background-color:rgb(204, 201, 201);
    flex-grow: 1;
    height: calc(100vh - 80px);
    overflow: auto;
}

.header h2{
    flex:1;
    text-align: left;
    margin-left: 40px;
    font-family: sans-serif;
    font-weight: bold;
}

.menu:hover{
    border:3px solid white;
}

.menu{
    background:transparent;
    border: none;
    border-radius: 20px;
    background-image: url("../../public/menu.png");
    background-position: center;
    background-size: contain;
    height: 40px;
    width: 40px;
    transition: 0.05s;
}

.navbar ul{
    list-style-type: none;
}

.navbar li:hover{
    background-color: rgba(0,0,0,0.1);
    
}

.navbar li{
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
    width: 220px;
    box-sizing: content-box;
}

