.pitem:hover{
    width: 82%;
    padding: 8px;
    background-color: rgb(244, 252, 252);
    box-shadow: 5px 5px 15px rgba(0,0,0,0.4);
    }

.pitem{
    display: flex;
    align-items: center;
    box-shadow: 5px 5px 6px rgba(0,0,0,0.4);
    justify-content: center;
    width: 80%;
    margin: auto;
    padding: 5px;
    margin-top: 10px;
    background-color: azure;
    border-left: 10px solid rgb(58, 146, 247);
    overflow-x: auto;
    transition: 0.3s;
}

.pitem .button{
    margin: 5px;
}
.pitem h4{
    margin-right: 30px;
    flex:1;
    font-family: sans-serif;
    margin-top: 5px;
}