.pitem:hover{
    width: 82%;
    padding: 8px;
    background-color: #4895D9;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.4);
    }

.pitem{
    display: flex;
    align-items: center;
    box-shadow: 5px 5px 6px rgba(0,0,0,0.4);
    justify-content: center;
    width: 80%;
    margin: auto;
    padding: 5px;
    margin-top: 10px;
    background-image: linear-gradient(135deg, #055ada ,#5e9eff);
    border-left: 10px solid #032c61;
    overflow-x: none;
    transition: 0.3s;
    color: white;
}

.pitem .button{
    margin: 5px;
}
.pitem h4{
    margin-right: 30px;
    flex:1;
    font-family: sans-serif;
    margin-top: 5px;
}