.change-password{
    margin: 30px 50px 30px 50px;
    padding: 50px;
    background-color: #0d6efd;
    background-image: linear-gradient(135deg, #0a2a57, #0d6efd);
    border-radius: 10px;
    color: white;
    width:70%;
    margin-inline:auto;
}


.change-password h3{
    padding-bottom: 50px;
}

.change-password .input-field{
    display: flex;
    padding: 40px 150px 40px 150px;
    height: 50px;
    align-items: center;
    justify-content: center;
}

.change-password .input-field label{
    width: 200px;
    text-align: start;
}

.change-password .btn{
    margin-top: 50px;
}