.view-professor{
    display: flex;
    padding:50px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 25px;
    border-radius: 10px;
    box-shadow: 0 0 10px 10px rgba(0,0,0,0.1);
    background-color: white;
    background-image: url("../../../public/BackgroundImages/white-hex.png");
    background-size:100%;
} 

.view-professor .citem:hover{
    width: 98%;
}

.view-professor .citem{
    width: 96%;
}

.view-professor .labels{
    margin-top: 50px;
    margin-right: auto;
    margin-left: 30px;
}

.view-professor .phoneno
{
    background-color: #0d6efd;
    margin-top: 10px;
    padding: 20px;
    padding-bottom: 0px;
    box-shadow: 0 0 10px 10px rgba(0,0,0,0.1 );
    display: flex;
    border-left: 10px solid #032c61;
    border-radius: 15px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    position: absolute;
    top:50px;
    right: 100px;
    color: white;
}

.view-professor .phoneno li{
    margin-right: 20px;
    color: black;
    padding-right: 20px;
}

.view-professor ol{
    overflow-y: auto;
    height: 150px;
    width: 170px;
    background-color: white;
    border-radius: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.view-professor p{
    text-align: start;
    margin-right: auto;
    margin-left: 30px;
    
}

.section-item p{
    text-align: center;
}

.view-professor h1{
    margin-right: auto;
    margin-top: 20px;
    margin-left: 20px;
}

