.view-student
{
    display: flex;
    padding:50px;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    margin: 25px;
    border-radius: 10px;
    box-shadow: 0 0 10px 10px rgba(0,0,0,0.1);
    background-color: ghostwhite;
}

.view-student h1{
    margin: auto;
}

.view-student .student-info{
    margin: auto;
}

.view-student .view-student-sections{
    width: 95%;
}