.section{
    display: flex;
    padding:50px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 25px;
    border-radius: 10px;
    box-shadow: 0 0 10px 10px rgba(0,0,0,0.1);
    background-color: white;
}

.section .section-topics-heading{
    margin-left: 20px;
    display: flex;
    width: 96%;
    justify-content: space-between;
    margin-bottom: 30px;
}

.section .section-topics{
   width: 95%;
}

.section .section-info{
    margin: auto;
}