.view-student
{
    display: flex;
    padding:50px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 25px;
    border-radius: 10px;
    box-shadow: 0 0 10px 10px rgba(0,0,0,0.1);
    background-color: white;
    background-image: url("../../../public/BackgroundImages/white-hex.png");
    background-size:100%;
}


.view-student h1{
    margin-right: auto;
    margin-top: 50px;
    margin-left: 50px;
}

.view-student .student-info{
    margin-right: auto;
}

.student-info p{
    text-align: start;
    margin-left: 55px;
}

.view-student .view-student-sections{
    width: 95%;
}

.view-student h4{
    margin-right: auto;
    margin-top: 40px;
    margin-left: 50px;
}